.container {
  padding: 2rem;
  border-radius: 16px;
  font-family: 'WDXL Lubrifont TC', sans-serif;
  font-size: 1.2rem;

  h2 {
    font-family: 'WDXL Lubrifont TC', sans-serif;
    border-bottom: 1px solid black;
  }

  .mat-dialog-content {
    text-align: center;
  }

  .dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;

    .button {
      background: white;
      padding: 5px 10px;
      border: 1px solid white;

      &:hover {
        cursor: pointer;
        border: 1px dashed black;
        border-radius: 8px;
      }
    }

  }
}
